---
---

$enable-rounded: false;

$body-color: #444444;

$primary: #4d65cd;
$secondary: #f5adaf;
$font-family-sans-serif: 'Barlow', sans-serif;

$input-btn-padding-y: 0.875rem;
$input-btn-padding-x: 1.25rem;
$input-btn-border-width: 3px;

$blue: #4d65cd;
$blueLight: #91b2fe;
$gray: #979797;
$redLight: #f58184;
$red: #f6333b;

// start content
@import "../node_modules/bootstrap/scss/bootstrap";

html, body {
  min-height: 100vh;
}

body {
  overflow: auto;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  background-attachment: fixed;
  padding-top: 5rem;
 /* display: flex;
  align-items: center;*/

 /* @include media-breakpoint-up(lg) {
    overflow: hidden;
  }*/
}

.card-intro {
  .card-body {
    font-size: 1.25rem;
  }
}

.card
{
  margin-bottom: 5rem;
}

.card-results, .card-help {

 /* @include media-breakpoint-up(lg) {
    max-height: 90vh;
    overflow-y: auto;
  }*/

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 3px;
    color: $blue;
    text-align: center;
    text-transform: uppercase;
  }
}

#back_button
{
  text-decoration: underline;
  color: #444444;

  @include hover-focus-active()
  {
    color: $blue;
  }
}

.answers {
  display: flex;
  flex-direction: column;
  margin: 0 auto 2rem 0;

  .circle {
    display: block;
    height: 22px;
    width: 22px;
    border-radius: 100%;
    float: left;
    margin-right: 2rem;
  }

  button {
    border-width: 1px;
    border-color: $gray-200;
    border-right: 1px solid $gray-100;
    text-align: left;
    background: transparent;
    letter-spacing: 1px;
    color: #3c3c3c;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1rem 0.75rem 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .1);

    @include media-breakpoint-down(lg)
    {
      width: 100%;
    }

    @include hover() {
      color: white;

      .circle {
        border: 2px solid white;
      }

      &:nth-child(1) {
        background: $blue;
      }
      &:nth-child(2) {
        background: $blueLight;
      }
      &:nth-child(3) {
        background: $gray;
      }
      &:nth-child(4) {
        background: $redLight;
      }
      &:nth-child(5) {
        background: $red;
      }
    }

    &:nth-child(1) {
      .circle {
        background: $blue;
      }
    }
    &:nth-child(2) {
      .circle {
        background: $blueLight;
      }
    }
    &:nth-child(3) {
      .circle {
        background: $gray;
      }
    }
    &:nth-child(4) {
      .circle {
        background: $redLight;
      }
    }
    &:nth-child(5) {
      .circle {
        background: $red;
      }
    }

  }
}

.sidebar {

  .btn:not(.btn-primary) {
    @include hover-focus-active() {
      color: white;
      background: $blue;
      border-color: $blue;
    }
  }
}

#question-text {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

.no-link {
  @include hover-focus-active() {
    text-decoration: none;
  }
}

.author-link {
  letter-spacing: 2px;
}

h1 {
  font-size: 3rem;
  line-height: 1.15;
  letter-spacing: 15px;
  font-weight: bold;
  color: $primary;
  word-break: break-all;
  text-transform: uppercase;
}

#quiz-progress {
  font-size: 1rem;
  font-weight: bold;
  margin-top: -10px;
  color: $primary;
  letter-spacing: 3px;
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.25;
}

.btn-primary {
  color: $secondary;
}

.btn-secondary {
  border: $input_btn-border-width solid $primary;
  color: $primary;
}

hr {
  border-color: #f68184;
}

.result {
  color: #444444;
  font-weight: bold;
  font-size: 0.875rem;
  margin-bottom: 1.5rem;

}

.progress {
  height: 3px;
  background: #d7d7d7;
  #bar {
    height: 100%;
    background: $primary;
  }
}

.questionBox {
  min-height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  min-height: 16px;
  color: black;
  font-size: 1.125rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  background: transparent;

  margin-top: 0.25rem;
  margin-bottom: 0.75rem;

  > * {
    padding: 0.25rem 0.25rem;
  }
  .progress-negative {
    background-color: $blueLight;

    text-align: right;
  }

  .progress-mid {
    background-color: #d7d7d7;
    text-align: center;
  }

  .progress-positive {
    background-color: $redLight;
    text-align: left;
  }
}

.btn-link
{
  white-space: normal;
}

.dropdown-toggle
{
  background: transparent;
  max-width: 100%;
  white-space: normal;
}

.dropdown-menu {
  max-width: 100%;

  .dropdown-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $gray-300;
    white-space: normal;
  }
}

.share-headline
{
  font-size: 1.25rem;
  color: $blue;
  letter-spacing: 2px;
  font-weight: bold;
}

.btn-social
{
  /*height: 45px;
  width: 45px;*/
  width: 50px;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: $redLight;
  background: $blue;
}

.progress-bar-you {
  h6 {
    width: 230px;
    padding-top: 6.25px;
    padding-right: 0.5rem;
    text-align: right !important;
    font-weight: bold;
    color: #444444;
    letter-spacing: 1px;
    margin: 0;

    @include media-breakpoint-down(md)
    {
      position: absolute;
      margin-top: -30px;
      left: 0;
      width: 100%;
      text-align: center !important;
    }
  }

  @include media-breakpoint-down(md)
  {
    height: 30px;
    margin-bottom: 30px;
  }

  *[id] {
    font-size: 0;
  }
}

.progress-bar-party {
  height: 16px;

  h6 {
    width: 230px;
    padding-top: 0;
    padding-right: 0.5rem;
    text-align: right !important;
    font-size: 0.875rem;
    color: #444444;
    letter-spacing: 1px;

    @include media-breakpoint-down(md)
    {
      position: absolute;
      margin-top: -20px;
      left: 0;
      width: 100%;
      text-align: center !important;
    }
  }

  @include media-breakpoint-down(md)
  {
    margin-bottom: 30px;
  }

  .progress-negative {
    background-color: #b8cdfe;

  }

  .progress-mid {
    background-color: #d7d7d7;
  }

  .progress-positive {
    background-color: #f5adaf;

  }
}

.icon {
  margin-top: 0.25rem;
  padding-top: 0.85rem;

  img {
    width: 35px;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.icon-positive {
  background: $blueLight;
  border-radius: 100%;
  height: 64px;
  width: 64px;
}

.icon-negative {
  background: $redLight;
  border-radius: 100%;
  height: 64px;
  width: 64px;
}

.help-section {
  margin: 2rem;
  border-bottom: 1px solid $redLight;

  &:last-child {
    border: none;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: $redLight;
  }

  img {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    @include media-breakpoint-down(sm) {
      width: 50% !important;
      margin-left: 25% !important;
    }

  }

}

