---
layout: results
title: Primerjava s strankami
language: sl_SI
---

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-4">
            {% include sidebar.html %}
        </div>

        <div class="col-12 col-lg-8 d-flex align-items-center">
            <div class="card card-results w-100">
                <div class="card-body text-center p-5">
                    <h2>Primerjaj svoj rezultat s stališči političnih strank
                    </h2>

                    <!--  	<div class="flagDecoration"><canvas id="generatedFlag" width="512" height="256"></canvas><div id="slogan"></div></div> -->
                    <!--   <div class="shareText">{{ site.t[page.language].result_share }}</div>  -->
                    <!--     <div id="urlToCopyContainer" class="urlToCopyContainer">
                        <div id="urlToCopy" class="urlToCopy"></div>
                    </div>


 -->


                    <p class="my-4">
                        Morda ti bo k lažji odločitvi na prihajajočih volitvah pomagala primerjava stališč s pozicijami
                        političnih strank, za katere lahko glasuješ. Vprašalnik smo poslali vsem strankam, žal pa odziv
                        ni bil stoodstoten, zato svoj rezultat lahko opazuješ zgolj v odnosu do tistih, ki so se sploh
                        upale opredeliti glede tem, ki pogosto razdvajajo.
                    </p>

                    <hr>

                    <div class="my-4">
                        {% include results-compare.html %}
                    </div>
                    <hr>


                    <!--        <div class="text-center">
                        <a href="#"><button class="btn btn-primary">
                            Primerjaj se s strankami
                        </button></a>
                    </div>


                    <div class="columnContainer">
                        <div class="columnLeft">


                        </div>
                        <br/>

                        <div class="navButtons">
                            <a class="button" href="{{ site.basepath }}/kviz">{{
                                site.t[page.language].result_btn_redo }}</a>
                        </div>
                    </div> -->
                </div>

            </div>
        </div>
    </div>
</div>


<script>

    /*
    1 http://127.0.0.1:4000/stranke?c0=29&femi=38&c1=40&b0=33&b1=43&p0=40&p1=26&m0=52&m1=14&s0=48&s1=24&j1=31&j0=29&e0=57&e1=12&t0=12&t1=62&prag=100&csv=1.csv
    2 http://127.0.0.1:4000/stranke?c0=19&femi=24&c1=31&b0=31&b1=24&p0=24&p1=31&m0=50&m1=21&s0=45&s1=14&j1=40&j0=21&e0=24&e1=21&t0=5&t1=60&prag=67&csv=2.csv
    3 http://127.0.0.1:4000/stranke?c0=38&femi=52&c1=52&b0=50&b1=38&p0=43&p1=40&m0=36&m1=43&s0=50&s1=45&j1=43&j0=40&e0=40&e1=38&t0=24&t1=60&comp=100&prag=67&csv=3.csv
    4 http://127.0.0.1:4000/stranke?c0=90&femi=67&c1=7&b0=88&b1=5&p0=83&p1=7&m0=98&s0=79&s1=10&j1=17&j0=69&e0=52&e1=26&t0=79&t1=12&vega=67&csv=4.csv
    5 http://127.0.0.1:4000/stranke?c0=24&femi=29&c1=57&b0=43&b1=36&p0=38&p1=45&m0=43&m1=57&s0=43&s1=55&j1=43&j0=33&e0=69&e1=12&t0=64&t1=31&reli=100&comp=100&prag=100&csv=5.csv
6 http://127.0.0.1:4000/stranke?c0=19&femi=14&c1=71&b0=29&b1=36&p0=26&p1=50&m0=21&m1=21&s0=26&s1=48&j1=45&j0=26&e0=31&e1=19&t1=71&csv=6.csv
7 http://127.0.0.1:4000/stranke?c0=55&femi=48&c1=14&b0=57&b1=14&p0=43&p1=24&m0=74&m1=17&s0=69&s1=12&j1=19&j0=50&e0=36&e1=40&t0=29&t1=45&csv=7.csv
8 http://127.0.0.1:4000/stranke?c0=31&femi=29&c1=40&b0=43&b1=19&p0=57&p1=24&m0=76&m1=12&s0=52&s1=10&j1=19&j0=55&e0=52&e1=24&t0=17&t1=67&prag=67&csv=8.csv
9 http://127.0.0.1:4000/stranke?c0=19&c1=60&b0=5&b1=62&p0=62&p1=10&m0=69&m1=12&s0=14&s1=52&j1=43&j0=40&e0=60&e1=5&t0=64&t1=10&comp=100&prag=67&csv=9.csv
10 http://127.0.0.1:4000/stranke?c0=26&femi=24&c1=38&b0=38&b1=31&p0=48&p1=31&m0=26&m1=50&s0=50&s1=31&j1=55&j0=31&e0=5&e1=57&t0=29&t1=40&comp=67&prag=67&csv=10.csv
11 http://127.0.0.1:4000/stranke?c0=40&femi=24&c1=50&b0=55&b1=40&p0=26&p1=52&m0=64&m1=19&s0=24&s1=43&j1=36&j0=33&e0=71&e1=19&t0=36&t1=33&comp=100&vega=67&csv=11.csv
12 http://127.0.0.1:4000/stranke?c0=38&femi=24&c1=21&b0=33&b1=36&p0=36&p1=45&m0=52&m1=14&s0=38&s1=31&j1=31&j0=31&e0=76&t0=17&t1=69&prag=100&vega=67&csv=12.csv


    */

    var partyResults = {
        "ANDREJ ČUŠ in ZS": 'http://127.0.0.1:4000/stranke?c0=29&femi=38&c1=40&b0=33&b1=43&p0=40&p1=26&m0=52&m1=14&s0=48&s1=24&j1=31&j0=29&e0=57&e1=12&t0=12&t1=62&prag=100&csv=1.csv',
        "DeSUS": 'http://127.0.0.1:4000/stranke?c0=19&femi=24&c1=31&b0=31&b1=24&p0=24&p1=31&m0=50&m1=21&s0=45&s1=14&j1=40&j0=21&e0=24&e1=21&t0=5&t1=60&prag=67&csv=2.csv',
        "ZDRUŽENA DESNICA": 'http://127.0.0.1:4000/stranke?c0=38&femi=52&c1=52&b0=50&b1=38&p0=43&p1=40&m0=36&m1=43&s0=50&s1=45&j1=43&j0=40&e0=40&e1=38&t0=24&t1=60&comp=100&prag=67&csv=3.csv',
        "LEVICA": 'http://127.0.0.1:4000/stranke?c0=90&femi=67&c1=7&b0=88&b1=5&p0=83&p1=7&m0=98&s0=79&s1=10&j1=17&j0=69&e0=52&e1=26&t0=79&t1=12&vega=67&csv=4.csv',
        "NPS": 'http://127.0.0.1:4000/stranke?c0=24&femi=29&c1=57&b0=43&b1=36&p0=38&p1=45&m0=43&m1=57&s0=43&s1=55&j1=43&j0=33&e0=69&e1=12&t0=64&t1=31&reli=100&comp=100&prag=100&csv=5.csv',
        "NSi": 'http://127.0.0.1:4000/stranke?c0=19&femi=14&c1=71&b0=29&b1=36&p0=26&p1=50&m0=21&m1=21&s0=26&s1=48&j1=45&j0=26&e0=31&e1=19&t1=71&csv=6.csv',
        "PIRATI": 'http://127.0.0.1:4000/stranke?c0=55&femi=48&c1=14&b0=57&b1=14&p0=43&p1=24&m0=74&m1=17&s0=69&s1=12&j1=19&j0=50&e0=36&e1=40&t0=29&t1=45&csv=7.csv',
        "SOLIDARNOST": 'http://127.0.0.1:4000/stranke?c0=31&femi=29&c1=40&b0=43&b1=19&p0=57&p1=24&m0=76&m1=12&s0=52&s1=10&j1=19&j0=55&e0=52&e1=24&t0=17&t1=67&prag=67&csv=8.csv',
        "ZSi": 'http://127.0.0.1:4000/stranke?c0=19&c1=60&b0=5&b1=62&p0=62&p1=10&m0=69&m1=12&s0=14&s1=52&j1=43&j0=40&e0=60&e1=5&t0=64&t1=10&comp=100&prag=67&csv=9.csv',
        "SMC": 'http://127.0.0.1:4000/stranke?c0=26&femi=24&c1=38&b0=38&b1=31&p0=48&p1=31&m0=26&m1=50&s0=50&s1=31&j1=55&j0=31&e0=5&e1=57&t0=29&t1=40&comp=67&prag=67&csv=10.csv',
        "SSN": 'http://127.0.0.1:4000/stranke?c0=40&femi=24&c1=50&b0=55&b1=40&p0=26&p1=52&m0=64&m1=19&s0=24&s1=43&j1=36&j0=33&e0=71&e1=19&t0=36&t1=33&comp=100&vega=67&csv=11.csv',
        "ZA ZDRAVO DRUŽBO": 'http://127.0.0.1:4000/stranke?c0=38&femi=24&c1=21&b0=33&b1=36&p0=36&p1=45&m0=52&m1=14&s0=38&s1=31&j1=31&j0=31&e0=76&t0=17&t1=69&prag=100&vega=67&csv=12.csv',
        "SNS" : 'http://127.0.0.1:4000/stranke?c0=21&femi=48&c1=62&b0=26&b1=64&p0=24&p1=62&m0=26&m1=62&s0=40&s1=48&j1=60&j0=24&e0=43&e1=33&t0=31&t1=36&comp=67&mona=67&anar=67&csv=13.csv',
        "SD" : 'http://127.0.0.1:4000/stranke?c0=76&femi=71&c1=12&b0=62&b1=17&p0=55&p1=17&m0=67&m1=26&s0=79&s1=14&j1=33&j0=62&e0=50&e1=29&t0=14&t1=57&csv=14.csv',
    };


    var urlToCopy = document.getElementById("urlToCopy")
    if (urlToCopy) {
        urlToCopy.innerHTML = location.href;
    }

    function shareLink() {
        var urlToCopy = document.getElementById("urlToCopy")
        var urlToCopyContainer = document.getElementById("urlToCopyContainer")
        if (urlToCopy && urlToCopyContainer) {
            urlToCopyContainer.style.display = "block";
            var range = document.createRange();
            range.selectNode(urlToCopy);
            window.getSelection().addRange(range);

            try {
                // Now that we've selected the anchor text, execute the copy command
                //~ if(document.execCommand('copy'))
                {
                    var button = document.getElementById("buttonLink")
                    if (button) {
                        button.className = "button buttonLinkGood";
                        setTimeout(function () {
                            var buttonTimeout = document.getElementById("buttonLink")
                            if (buttonTimeout)
                                button.className = "button buttonLink";
                        }, 2000);
                    }
                }
            }
            catch (err) {

            }
        }
    }

    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=")
            if (pair[0] == variable) {
                if (pair[1] == "NaN") {
                    return 0
                }
                else {
                    return pair[1] / 100;
                }
            }
        }
        return 0;
    }

    function getQueryVariableFromString(variable, input) {
        var query = input.replace('?', '&');

        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=")
            if (pair[0] == variable) {
                if (pair[1] == "NaN") {
                    return 0
                }
                else {
                    return pair[1] / 100;
                }
            }
        }
        return 0;
    }

    function setAxisValue(name, value) {
        var axis = document.getElementById(name)
        if (!axis)
            return

        var text = document.getElementById(name + "Text")
        if (!text)
            return

        axis.style.width = ((100 * value).toFixed(1) + "%");

        value = (100 * value).toFixed(0);

        if (value > 10) {
            text.innerHTML = (value + "%");
        }

        /*  if (text.offsetWidth > axis.offsetWidth)
              text.style.visibility = "hidden";*/
    }

    function setBonus(name, value, limit) {
        axis = document.getElementById(name)
        if (!axis)
            return

        if (value > limit) {
            axis.style.display = "block";
            axis.style.opacity = value * value;
        }
        else {
            axis.style.display = "none";
        }
    }

    axes = [
        "c",
        "b",
        "p",
        "m",
        "s",
        "j",
        "e",
        "t"
    ]

    bonus = {
        anar: 0.9,
        prag: 0.5,
        femi: 0.9,
        comp: 0.9,
        vega: 0.5,
        reli: 0.5,
        mona: 0.5,
    }

    characteristics = []


    var parties = [];

    for (var party in partyResults) {

        //   console.log(party, partyResults[party]);
        var votes = [];

        for (var i = 0; i < axes.length; i++) {
            var neg = getQueryVariableFromString(axes[i] + "0", partyResults[party]);
            var pos = getQueryVariableFromString(axes[i] + "1", partyResults[party]);

            var vote = {};
            vote.axes = axes[i];
            vote.negative = neg;
            vote.positive = pos;
            vote.neutral = 1 - neg - pos;
            votes.push(vote);
        }

        parties.push({party: party, votes: votes});
        // propertyName is what you want
        // you can get the value like this: myObject[propertyName]
    }

    for (var i = 0; i < axes.length; i++) {
        negativeValue = getQueryVariable(axes[i] + "0");
        positiveValue = getQueryVariable(axes[i] + "1");
        setAxisValue(axes[i] + "AxisNeg", negativeValue);
        setAxisValue(axes[i] + "AxisPos", positiveValue);
        setAxisValue(axes[i] + "AxisMid", 1 - negativeValue - positiveValue);

        if (negativeValue > positiveValue) {
            characteristics.push({name: axes[i] + "0", value: negativeValue});
        }
        else {
            characteristics.push({name: axes[i] + "1", value: positiveValue});
        }
    }

    for (var i = 0; i < axes.length; i++) {
        var axis = axes[i];
        var container = $('#' + axis);

        var axisStuff = [];

        for (var party of parties) {
            for (var vote of party.votes) {
                if (axis == vote.axes) {
                    var append = $('<div class="progress-bar progress-bar-party d-flex flex-row"><h6 class="text-center">' + party.party + '</h6><div class="progress-negative"></div><div class="progress-mid"></div><div class="progress-positive"></div></div>');

                    append.find('.progress-positive').width((vote.positive * 100).toFixed(0) + "%");
                    append.find('.progress-negative').width((vote.negative * 100).toFixed(0) + "%");
                    append.find('.progress-mid').width((vote.neutral * 100).toFixed(0) + "%");

                    axisStuff.push({html: append, vote});

                }
            }
        }

        axisStuff = axisStuff.sort(function (a, b) {
            return b.vote.negative - a.vote.negative;
        });


        var you = container.find('.progress-bar');
        var youPositive = you.find('.progress-negative')[0].style.width;

       // console.log(youPositive, parseInt(youPositive.replace('%', '')));
        // var you = you.detach();


        var hasYouBeenPlaced = false;
        for (let j = 0; j < axisStuff.length; j++) {
            const stuff = axisStuff[j];

            if (parseInt(youPositive.replace('%', '')) >= stuff.vote.negative * 100) {
                if (!hasYouBeenPlaced) {
                    hasYouBeenPlaced = true;
                    container.append(you);
                }

            }
            container.append(stuff.html);
        }

        if (!hasYouBeenPlaced) {
            hasYouBeenPlaced = true;
            container.append(you);
        }


        //  console.log(axisStuff);
    }

    // debugger;

    bonusEnabled = 0
    for (var b in bonus) {

        value = getQueryVariable(b);

        setBonus(b + "Bonus", value, bonus[b]);

        if (value > bonus[b]) {
            bonusEnabled = 1;
            characteristics.push({name: b, value: value});
        }
    }

    characteristics.sort(function (a, b) {
        return a.value < b.value;
    });

    charSlogan = {
        c0: "{{ site.t[page.language].slogan_constructivism }}",
        b0: "{{ site.t[page.language].slogan_internationalism }}",
        b1: "{{ site.t[page.language].slogan_nationalism }}",
        p0: "{{ site.t[page.language].slogan_communism }}",
        p1: "{{ site.t[page.language].slogan_capitalism }}",
        m1: "{{ site.t[page.language].slogan_laissez_faire }}",
        s1: "{{ site.t[page.language].slogan_conservatism }}",
        j0: "{{ site.t[page.language].slogan_justice_soft }}",
        j1: "{{ site.t[page.language].slogan_justice_hard }}",
        e0: "{{ site.t[page.language].slogan_ecology }}",
        t0: "{{ site.t[page.language].slogan_revo }}"
    }

    function findFlagColors() {
        colors = [];

        for (var i = 0; i < flagColors.length; i++) {
            var accepted = 1;

            var mainValue = 0;
            var mainValueFound = 0;

            for (var j = 0; j < flagColors[i].cond.length; j++) {
                var charFound = 0;
                for (var k = 0; k < characteristics.length; k++) {
                    if (characteristics[k].name == flagColors[i].cond[j].name) {
                        charFound = 1;
                        if (characteristics[k].value < flagColors[i].cond[j].vmin || characteristics[k].value > flagColors[i].cond[j].vmax)
                            accepted = 0;
                        else if (!mainValueFound) {
                            mainValueFound = 1;
                            mainValue = characteristics[k].value;
                        }

                        break;
                    }
                }

                if (!charFound)
                    accepted = 0;

                if (!accepted)
                    break;
            }

            if (accepted) {
                colors.push({bgColor: flagColors[i].bgColor, fgColor: flagColors[i].fgColor, value: mainValue});
            }
        }

        colors.sort(function (a, b) {
            return a.value < b.value;
        });

        return colors;
    }

    function findFlagShape(numColors) {
        for (var i = 0; i < flagShapes.length; i++) {
            var accepted = 1;

            if (flagShapes[i].numColors > numColors)
                accepted = 0;
            else {
                for (var j = 0; j < flagShapes[i].cond.length; j++) {
                    var charFound = 0;
                    for (var k = 0; k < characteristics.length; k++) {
                        if (characteristics[k].name == flagShapes[i].cond[j].name) {
                            charFound = 1;
                            if (characteristics[k].value < flagShapes[i].cond[j].vmin || characteristics[k].value > flagShapes[i].cond[j].vmax)
                                accepted = 0;

                            break;
                        }
                    }

                    if (!charFound)
                        accepted = 0;

                    if (!accepted)
                        break;
                }
            }

            if (accepted)
                return i;
        }

        return -1;
    }

    function findFlagSymbol() {
        for (var i = 0; i < flagSymbols.length; i++) {
            var accepted = 1;

            for (var j = 0; j < flagSymbols[i].cond.length; j++) {
                var charFound = 0;
                for (var k = 0; k < characteristics.length; k++) {
                    if (characteristics[k].name == flagSymbols[i].cond[j].name) {
                        charFound = 1;
                        if (characteristics[k].value < flagSymbols[i].cond[j].vmin || characteristics[k].value > flagSymbols[i].cond[j].vmax)
                            accepted = 0;

                        break;
                    }
                }

                if (!charFound)
                    accepted = 0;

                if (!accepted)
                    break;
            }

            if (accepted)
                return flagSymbols[i].id;
        }

        return -1;
    }

    generatedSlogan = "";
    sloganDiv = document.getElementById("slogan");
    if (sloganDiv) {
        selectedSlogan = []

        for (var i = 0; i < characteristics.length; i++) {
            if (characteristics[i].value > 0 && charSlogan.hasOwnProperty(characteristics[i].name)) {
                selectedSlogan.push({text: charSlogan[characteristics[i].name], value: characteristics[i].value});
            }
        }

        selectedSlogan.sort(function (a, b) {
            return a.value < b.value;
        });

        var counter = 0;
        for (var i = 0; i < selectedSlogan.length; i++) {
            if (generatedSlogan != "")
                generatedSlogan += " · ";
            generatedSlogan += selectedSlogan[i].text;
            counter++;

            if (counter >= 3)
                break;
        }

        sloganDiv.innerHTML = generatedSlogan;
    }

    if (!bonusEnabled) {
        bonusBox = document.getElementById("bonusBox")
        bonusBox.style.display = "none";
    }

    twitterButton = document.getElementById("buttonTwitter")
    if (twitterButton) {
        var text = "{{ site.t[page.language].share_twitter }}".replace("%slogan%", generatedSlogan);
        twitterButton.href = "https://twitter.com/intent/tweet?text=" + encodeURIComponent(text + " ") + encodeURIComponent(location.href);
    }

    redditButton = document.getElementById("buttonReddit")
    if (redditButton) {
        var text = "{{ site.t[page.language].share_reddit }}".replace("%slogan%", generatedSlogan);
        redditButton.href = "http://www.reddit.com/submit?url=" + encodeURIComponent(location.href) + "&title=" + encodeURIComponent(text);
    }

    var sprites = new Image();
    sprites.src = '{{ site.basepath }}/images/flag_sprites.png';

    function shareFacebook() {
        uri = location.href;

        FB.ui({
            method: 'share',
            hashtag: '#PolitiScales',
            quote: "{{ site.t[page.language].share_facebook }}".replace("%slogan%", generatedSlogan),
            href: uri,
        }, function (response) {
        });
    }

    sprites.onload = function () {
        flag = document.getElementById("generatedFlag");
        if (flag) {
            var ctx = flag.getContext("2d");

            var spriteX = 256;
            var spriteY = 128;
            var spriteS = 1.0;

            var symbolId = findFlagSymbol();
            var colors = findFlagColors();

            if (colors.length <= 0)
                colors.push({bgColor: "#ffffff", fgColor: "#000000"});

            var flagId = findFlagShape(colors.length);

            if (flagId < 0) {
                ctx.beginPath();
                ctx.rect(0, 0, 512, 256);
                ctx.fillStyle = "#ffffff";
                ctx.fill();
            }
            else {
                for (var i = 0; i < flagShapes[flagId].shapes.length; i++) {
                    var path = flagShapes[flagId].shapes[i];
                    var numPoints = path.length / 2;

                    ctx.beginPath();
                    ctx.moveTo(path[1] * 512, path[2] * 256);

                    for (var j = 1; j < numPoints; j++) {
                        ctx.lineTo(path[1 + j * 2 + 0] * 512, path[1 + j * 2 + 1] * 256);
                    }
                    ctx.fillStyle = colors[path[0]].bgColor;
                    ctx.fill();
                }

                spriteX = flagShapes[flagId].symbol[0] * 512;
                spriteY = flagShapes[flagId].symbol[1] * 256;
                spriteS = flagShapes[flagId].symbol[2];
            }

            if (symbolId >= 0) {
                var tmpC = document.createElement('canvas');
                tmpC.width = sprites.width;
                tmpC.height = sprites.height;
                var tmpCtx = tmpC.getContext('2d');
                var coloredSprites = tmpCtx.getImageData(0, 0, tmpC.width, tmpC.height);

                tmpCtx.beginPath();
                tmpCtx.rect(0, 0, tmpC.width, tmpC.height);
                tmpCtx.fillStyle = colors[0].fgColor;
                tmpCtx.fill();

                tmpCtx.globalCompositeOperation = "destination-in";
                tmpCtx.drawImage(sprites, 0, 0);

                ctx.drawImage(tmpC, symbolId * 128, 0, 128, 128, spriteX - 64 * spriteS, spriteY - 64 * spriteS, 128 * spriteS, 128 * spriteS);
            }
        }
    }

</script>
