---
layout: results
title: Primerjava s strankami
language: sl_SI
---

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-4">
            {% include sidebar.html %}
        </div>

        <div class="col-12 col-lg-8">
            <div class="card card-results w-100">
                <div class="card-body text-center p-5">
                    <h2>Primerjaj svoj rezultat s stališči političnih strank
                    </h2>

                    <p class="my-4">
                        Morda ti bo k lažji odločitvi na prihajajočih volitvah pomagala primerjava stališč s pozicijami
                        političnih strank, za katere lahko glasuješ. Vprašalnik smo poslali vsem strankam, žal pa odziv
                        ni bil stoodstoten, zato svoj rezultat lahko opazuješ zgolj v odnosu do tistih, ki so se sploh
                        upale opredeliti glede tem, ki pogosto razdvajajo.
                    </p>

                    <hr>
                        <div class="my-4">
                            {% include results-compare.html %}
                        </div>
                    <hr>

                    {% include share.html %}

                </div>

            </div>
        </div>
    </div>
</div>

{% include js-party-results.html %}
{% include js-questions.html %}
{% include js-axes.html %}
{% include js-single-results.html %}

<script>

    var parties = [];

    for (var party in partyResults) {

        var votes = [];

        for (var i = 0; i < axes.length; i++) {
            var neg = getQueryVariableFromString(axes[i] + "0", partyResults[party]);
            var pos = getQueryVariableFromString(axes[i] + "1", partyResults[party]);

            var vote = {};
            vote.axes = axes[i];
            vote.negative = neg;
            vote.positive = pos;
            vote.neutral = 1 - neg - pos;
            votes.push(vote);
        }

        parties.push({party: party, votes: votes});
    }

    for (var i = 0; i < axes.length; i++) {
        var axis = axes[i];
        var container = $('#' + axis);

        var axisStuff = [];

        for (var j = 0; j < parties.length; j++) {
            var party = parties[j];

            for (var k = 0; k < party.votes.length; k++) {
                var vote = party.votes[k];
                if (axis == vote.axes) {
                    let link = partyResults[party.party];
                    var append = $('<div class="progress-bar progress-bar-party d-flex flex-row clickable"><h6 class="text-center">' + party.party + '</h6><div class="progress-negative"></div><div class="progress-mid"></div><div class="progress-positive"></div></div>');

                    append.find('.progress-positive').width((vote.positive * 100).toFixed(0) + "%");
                    append.find('.progress-negative').width((vote.negative * 100).toFixed(0) + "%");
                    append.find('.progress-mid').width((vote.neutral * 100).toFixed(0) + "%");

                    append.on('click', function () {
                        window.location.href = '{{site.basepath}}/stranke?' + link;
                    });

                    axisStuff.push({html: append, vote: vote});
                }
            }
        }

        axisStuff = axisStuff.sort(function (a, b) {
            return b.vote.negative - a.vote.negative;
        });


        var you = container.find('.progress-bar');
        var youPositive = you.find('.progress-negative')[0].style.width;

        var hasYouBeenPlaced = false;
        for (let j = 0; j < axisStuff.length; j++) {
            const stuff = axisStuff[j];

            if (parseInt(youPositive.replace('%', '')) >= stuff.vote.negative * 100) {
                if (!hasYouBeenPlaced) {
                    hasYouBeenPlaced = true;
                    container.append(you);
                }

            }
            container.append(stuff.html);
        }

        if (!hasYouBeenPlaced) {
            hasYouBeenPlaced = true;
            container.append(you);
        }
    }

</script>
