---
layout: results
language: sl_SI
---

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-4">
            {% include sidebar.html %}
        </div>

        <div class="col-12 col-lg-8">
            <div class="card card-results w-100">
                <div class="card-body text-center p-5">
                    <h2>Rezultati</h2>

                    <div class="my-4">

                        <p> Rezultati tvojega političnega portreta so razdeljeni na 8 osi. Vsaka os kaže <b>tvojo pozicijo
                            med dvema nasprotujočima si ideologijama</b>.
                        </p>
                        <p>
                            Za natančnejšo razlago strani osi klikni na <img width="20" class="ml-2" src="{{ site.basepath }}/ikone/noun_1009845_ffffff.svg" alt="Vprašaj">.
                        </p>

                    </div>
                    <hr>

                    <div class="my-4">
                        {% include results-single.html %}
                    </div>

                    <div class="text-center mb-4">
                        <button class="btn btn-primary" onclick="show_compare()">
                            Primerjaj se s strankami
                        </button>
                    </div>

                    <hr>

                    {% include share.html %}

                </div>
            </div>
        </div>
    </div>
</div>

{% include js-party-results.html %}
{% include js-axes.html %}
{% include js-single-results.html %}

<script>

    function show_compare() {
        window.location.href = window.location.href.replace('rezultati', 'primerjava');
    }

</script>
