---
layout: results-party
title: Rezultati strank
language: sl_SI
---

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-4">
            {% include sidebar.html %}
        </div>

        <div class="col-12 col-lg-8">
            <div class="card card-results w-100">
                <div class="card-body text-center p-5">

                    {% include parties.html %}


                    <hr>
                    <div class="my-4">
                        {% include results-compare.html %}
                    </div>
                    <hr>

                    {% include share.html %}


                </div>
            </div>
        </div>
    </div>
</div>

{% include js-party-results.html %}
{% include js-questions.html %}
{% include js-axes.html %}
{% include js-single-results.html %}
{% include js-quiz.html %}


<script>

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    csv = getParameterByName('csv');

    function requestCSV(f, c) {
        return new CSVAJAX(f, c);
    }

    function CSVAJAX(filepath, callback) {
        this.request = new XMLHttpRequest();
        this.request.open("GET", filepath, true);
        this.request.timeout = 10000;
        this.request.parent = this;
        this.callback = callback;
        this.request.onload = function () {
            var d = this.response.split('\n');
            /*1st separator*/
            var i = d.length;
            while (i--) {
                if (d[i] !== "")
                    d[i] = d[i].split(','); /*2nd separator*/
                else
                    d.splice(i, 1);
            }
            this.parent.response = d;
            if (typeof this.parent.callback !== "undefined")
                this.parent.callback(d);
        };
        this.request.send();
    };

    if (csv) {
        var foo = requestCSV("/data/" + csv, function (data) {
            var results = data[1].slice(1);

            var allSubmissions = data.slice(1);


            if (allSubmissions.length == 1) {
                results = allSubmissions[0].slice(1);
                results = results.map(map_answer_to_number);
            }
            else {
                //  We have multiple submissions

                //  For each submissions we add all the votes together

                var submissionsResults = [];

                for (var i = 0; i < allSubmissions.length; i++) {
                    var submissions = allSubmissions[i].slice(1);

                    for(var j = 0; j < submissions.length; j++)
                    {
                        var answer = submissions[j];

                        if(submissionsResults[j] == undefined)
                        {
                            submissionsResults[j] = 0;
                        }
                        submissionsResults[j] += map_answer_to_number(answer) / allSubmissions.length;
                    }
                }

                results = submissionsResults;
            }

            for (let i = 0; i < results.length; i++) {
                const result = results[i];
                next_question(result);
            }
        });
    }

    function map_answer_to_number(item) {
        switch (item) {
            case "\"Se popolnoma strinjam\"":
                return 1;
            case "\"Nekako se strinjam\"":
                return 2 / 3;
            case "\"Sem nevtralen/-a oz. oklevam\"":
                return 0;
            case "\"Se nekako ne strinjam\"":
                return -2 / 3;
            case "\"Absolutno se ne strinjam\"":
                return -1;
        }
    }

</script>


<script>

    var qn = 0; // Question number

    function next_question(mult) {
        questions[qn].answer = mult
        qn++;

        if (qn < questions.length) {
            //  init_question();
        }
        else {
            results();
        }
    }

    function calc_score(score, max_value) {
        return (100 * (score) / (max_value)).toFixed(0);
    }

    function results() {
        var axes = {};

        for (var i = 0; i < questions.length; i++) {
            q = questions[i];

            for (var j = 0; j < q.valuesYes.length; j++) {
                a = q.valuesYes[j];
                if (!(a.axis in axes)) {
                    axes[a.axis] = {
                        val: 0,
                        sum: 0
                    }
                }

                if (q.answer > 0) {
                    axes[a.axis].val += q.answer * a.value;
                }
                axes[a.axis].sum += Math.max(a.value, 0);
            }

            for (var j = 0; j < q.valuesNo.length; j++) {
                a = q.valuesNo[j];
                if (!(a.axis in axes)) {
                    axes[a.axis] = {
                        val: 0,
                        sum: 0
                    }
                }

                if (q.answer < 0) {
                    axes[a.axis].val -= q.answer * a.value;
                }
                axes[a.axis].sum += Math.max(a.value, 0);
            }
        }

        url = ""
        for (var aK in axes) {
            if (axes[aK].val > 0) {
                if (url != "")
                    url += "&"
                url += aK + "=" + calc_score(axes[aK].val, axes[aK].sum)
            }
        }

        url = "{{site.basepath}}/stranke?" + url + "&csv=" + csv;

        location.href = url;
    }

    axes = [
        "c",
        "b",
        "p",
        "m",
        "s",
        "j",
        "e",
        "t"
    ];

    var parties = [];

    for (var party in partyResults) {

        //   console.log(party, partyResults[party]);
        var votes = [];

        for (var i = 0; i < axes.length; i++) {
            var neg = getQueryVariableFromString(axes[i] + "0", partyResults[party]);
            var pos = getQueryVariableFromString(axes[i] + "1", partyResults[party]);

            var vote = {};
            vote.axes = axes[i];
            vote.negative = neg;
            vote.positive = pos;
            vote.neutral = 1 - neg - pos;
            votes.push(vote);
        }

        parties.push({party: party, votes: votes});
    }

    characteristics = []

    for (var i = 0; i < axes.length; i++) {
        var axis = axes[i];
        var container = $('#' + axis);

        var axisStuff = [];

        for (var j = 0; j < parties.length; j++) {
            var party = parties[j];

            for (var k = 0; k < party.votes.length; k++) {
                var vote = party.votes[k];
                if (axis == vote.axes) {
                    let link = partyResults[party.party];
                    var append = $('<div class="progress-bar progress-bar-party d-flex flex-row clickable"><h6 class="text-center">' + party.party + '</h6><div class="progress-negative"></div><div class="progress-mid"></div><div class="progress-positive"></div></div>');

                    append.find('.progress-positive').width((vote.positive * 100).toFixed(0) + "%");
                    append.find('.progress-negative').width((vote.negative * 100).toFixed(0) + "%");
                    append.find('.progress-mid').width((vote.neutral * 100).toFixed(0) + "%");

                    append.on('click', function () {
                        window.location.href = '{{site.basepath}}/stranke?' + link;
                    });


                    axisStuff.push({html: append, vote: vote});
                }
            }
        }

        axisStuff = axisStuff.sort(function (a, b) {
            return b.vote.negative - a.vote.negative;
        });


        var you = container.find('.progress-bar');
        you.detach();

        for (let j = 0; j < axisStuff.length; j++) {
            const stuff = axisStuff[j];

            container.append(stuff.html);
        }
    }

    function getQueryVariableFromString(variable, input) {
        var query = input.replace('?', '&');

        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=")
            if (pair[0] == variable) {
                if (pair[1] == "NaN") {
                    return 0
                }
                else {
                    return pair[1] / 100;
                }
            }
        }
        return 0;
    }

    function setAxisValue(name, value) {
        var axis = document.getElementById(name)
        if (!axis)
            return

        var text = document.getElementById(name + "Text")
        if (!text)
            return

        axis.style.width = ((100 * value).toFixed(1) + "%");

        value = (100 * value).toFixed(0);

        if (value > 10) {
            text.innerHTML = (value + "%");
        }

        /*  if (text.offsetWidth > axis.offsetWidth)
              text.style.visibility = "hidden";*/
    }

</script>
