---
layout: results
title: Rezultati strank
language: sl_SI
---

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            {% include sidebar.html %}
        </div>

        <div class="col-12 col-md-6 col-lg-8 d-flex align-items-center">
            <div class="card card-question w-100">
                <div class="card-body text-center p-5">
                    <h2>{{ site.t[page.language].result_title }}</h2>

                    <p class="simpleText">{{ site.t[page.language].result_desc }}</p>

                    <!--  	<div class="flagDecoration"><canvas id="generatedFlag" width="512" height="256"></canvas><div id="slogan"></div></div> -->
                    <!--   <div class="shareText">{{ site.t[page.language].result_share }}</div>  -->
                    <!--     <div id="urlToCopyContainer" class="urlToCopyContainer">
                        <div id="urlToCopy" class="urlToCopy"></div>
                    </div>
 -->
                    {% include results-single.html %}



                    <div class="text-center">
                        <button class="btn btn-primary" onclick="compare()">
                            Primerjaj se s strankami
                        </button>
                    </div>


                    <div class="columnContainer">
                        <div class="columnLeft">


                        </div>
                        <br/>

                        <div class="navButtons">
                            <a class="button" href="{{ site.basepath }}/kviz">{{
                                site.t[page.language].result_btn_redo }}</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    function compare() {
        window.location.href = window.location.href.replace('rezultati', 'primerjava');
    }


    var urlToCopy = document.getElementById("urlToCopy")
    if (urlToCopy) {
        urlToCopy.innerHTML = location.href;
    }

    function shareLink() {
        var urlToCopy = document.getElementById("urlToCopy")
        var urlToCopyContainer = document.getElementById("urlToCopyContainer")
        if (urlToCopy && urlToCopyContainer) {
            urlToCopyContainer.style.display = "block";
            var range = document.createRange();
            range.selectNode(urlToCopy);
            window.getSelection().addRange(range);

            try {
                // Now that we've selected the anchor text, execute the copy command
                //~ if(document.execCommand('copy'))
                {
                    var button = document.getElementById("buttonLink")
                    if (button) {
                        button.className = "button buttonLinkGood";
                        setTimeout(function () {
                            var buttonTimeout = document.getElementById("buttonLink")
                            if (buttonTimeout)
                                button.className = "button buttonLink";
                        }, 2000);
                    }
                }
            }
            catch (err) {

            }
        }
    }

    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=")
            if (pair[0] == variable) {
                if (pair[1] == "NaN") {
                    return 0
                }
                else {
                    return pair[1] / 100;
                }
            }
        }
        return 0;
    }

    function setAxisValue(name, value) {
        var axis = document.getElementById(name)
        if (!axis)
            return

        var text = document.getElementById(name + "Text")
        if (!text)
            return

        axis.style.width = ((100 * value).toFixed(1) + "%");

        value = (100 * value).toFixed(0);

        if (value > 10) {
            text.innerHTML = (value + "%");
        }

        /*  if (text.offsetWidth > axis.offsetWidth)
              text.style.visibility = "hidden";*/
    }

    function setBonus(name, value, limit) {
        axis = document.getElementById(name)
        if (!axis)
            return

        if (value > limit) {
            axis.style.display = "block";
            axis.style.opacity = value * value;
        }
        else {
            axis.style.display = "none";
        }
    }

    axes = [
        "c",
        "b",
        "p",
        "m",
        "s",
        "j",
        "e",
        "t"
    ]

    bonus = {
        anar: 0.9,
        prag: 0.5,
        femi: 0.9,
        comp: 0.9,
        vega: 0.5,
        reli: 0.5,
        mona: 0.5,
    }

    characteristics = []

    for (var i = 0; i < axes.length; i++) {
        negativeValue = getQueryVariable(axes[i] + "0");
        positiveValue = getQueryVariable(axes[i] + "1");
        setAxisValue(axes[i] + "AxisNeg", negativeValue);
        setAxisValue(axes[i] + "AxisPos", positiveValue);
        setAxisValue(axes[i] + "AxisMid", 1 - negativeValue - positiveValue);

        if (negativeValue > positiveValue) {
            characteristics.push({name: axes[i] + "0", value: negativeValue});
        }
        else {
            characteristics.push({name: axes[i] + "1", value: positiveValue});
        }
    }

    bonusEnabled = 0
    for (var b in bonus) {

        value = getQueryVariable(b);

        setBonus(b + "Bonus", value, bonus[b]);

        if (value > bonus[b]) {
            bonusEnabled = 1;
            characteristics.push({name: b, value: value});
        }
    }

    characteristics.sort(function (a, b) {
        return a.value < b.value;
    });

    charSlogan = {
        c0: "{{ site.t[page.language].slogan_constructivism }}",
        b0: "{{ site.t[page.language].slogan_internationalism }}",
        b1: "{{ site.t[page.language].slogan_nationalism }}",
        p0: "{{ site.t[page.language].slogan_communism }}",
        p1: "{{ site.t[page.language].slogan_capitalism }}",
        m1: "{{ site.t[page.language].slogan_laissez_faire }}",
        s1: "{{ site.t[page.language].slogan_conservatism }}",
        j0: "{{ site.t[page.language].slogan_justice_soft }}",
        j1: "{{ site.t[page.language].slogan_justice_hard }}",
        e0: "{{ site.t[page.language].slogan_ecology }}",
        t0: "{{ site.t[page.language].slogan_revo }}"
    }

    function findFlagColors() {
        colors = [];

        for (var i = 0; i < flagColors.length; i++) {
            var accepted = 1;

            var mainValue = 0;
            var mainValueFound = 0;

            for (var j = 0; j < flagColors[i].cond.length; j++) {
                var charFound = 0;
                for (var k = 0; k < characteristics.length; k++) {
                    if (characteristics[k].name == flagColors[i].cond[j].name) {
                        charFound = 1;
                        if (characteristics[k].value < flagColors[i].cond[j].vmin || characteristics[k].value > flagColors[i].cond[j].vmax)
                            accepted = 0;
                        else if (!mainValueFound) {
                            mainValueFound = 1;
                            mainValue = characteristics[k].value;
                        }

                        break;
                    }
                }

                if (!charFound)
                    accepted = 0;

                if (!accepted)
                    break;
            }

            if (accepted) {
                colors.push({bgColor: flagColors[i].bgColor, fgColor: flagColors[i].fgColor, value: mainValue});
            }
        }

        colors.sort(function (a, b) {
            return a.value < b.value;
        });

        return colors;
    }

    function findFlagShape(numColors) {
        for (var i = 0; i < flagShapes.length; i++) {
            var accepted = 1;

            if (flagShapes[i].numColors > numColors)
                accepted = 0;
            else {
                for (var j = 0; j < flagShapes[i].cond.length; j++) {
                    var charFound = 0;
                    for (var k = 0; k < characteristics.length; k++) {
                        if (characteristics[k].name == flagShapes[i].cond[j].name) {
                            charFound = 1;
                            if (characteristics[k].value < flagShapes[i].cond[j].vmin || characteristics[k].value > flagShapes[i].cond[j].vmax)
                                accepted = 0;

                            break;
                        }
                    }

                    if (!charFound)
                        accepted = 0;

                    if (!accepted)
                        break;
                }
            }

            if (accepted)
                return i;
        }

        return -1;
    }

    function findFlagSymbol() {
        for (var i = 0; i < flagSymbols.length; i++) {
            var accepted = 1;

            for (var j = 0; j < flagSymbols[i].cond.length; j++) {
                var charFound = 0;
                for (var k = 0; k < characteristics.length; k++) {
                    if (characteristics[k].name == flagSymbols[i].cond[j].name) {
                        charFound = 1;
                        if (characteristics[k].value < flagSymbols[i].cond[j].vmin || characteristics[k].value > flagSymbols[i].cond[j].vmax)
                            accepted = 0;

                        break;
                    }
                }

                if (!charFound)
                    accepted = 0;

                if (!accepted)
                    break;
            }

            if (accepted)
                return flagSymbols[i].id;
        }

        return -1;
    }

    generatedSlogan = "";
    sloganDiv = document.getElementById("slogan");
    if (sloganDiv) {
        selectedSlogan = []

        for (var i = 0; i < characteristics.length; i++) {
            if (characteristics[i].value > 0 && charSlogan.hasOwnProperty(characteristics[i].name)) {
                selectedSlogan.push({text: charSlogan[characteristics[i].name], value: characteristics[i].value});
            }
        }

        selectedSlogan.sort(function (a, b) {
            return a.value < b.value;
        });

        var counter = 0;
        for (var i = 0; i < selectedSlogan.length; i++) {
            if (generatedSlogan != "")
                generatedSlogan += " · ";
            generatedSlogan += selectedSlogan[i].text;
            counter++;

            if (counter >= 3)
                break;
        }

        sloganDiv.innerHTML = generatedSlogan;
    }

    if (!bonusEnabled) {
        bonusBox = document.getElementById("bonusBox")
        bonusBox.style.display = "none";
    }

    twitterButton = document.getElementById("buttonTwitter")
    if (twitterButton) {
        var text = "{{ site.t[page.language].share_twitter }}".replace("%slogan%", generatedSlogan);
        twitterButton.href = "https://twitter.com/intent/tweet?text=" + encodeURIComponent(text + " ") + encodeURIComponent(location.href);
    }

    redditButton = document.getElementById("buttonReddit")
    if (redditButton) {
        var text = "{{ site.t[page.language].share_reddit }}".replace("%slogan%", generatedSlogan);
        redditButton.href = "http://www.reddit.com/submit?url=" + encodeURIComponent(location.href) + "&title=" + encodeURIComponent(text);
    }

    var sprites = new Image();
    sprites.src = '{{ site.basepath }}/images/flag_sprites.png';

    function shareFacebook() {
        uri = location.href;

        FB.ui({
            method: 'share',
            hashtag: '#PolitiScales',
            quote: "{{ site.t[page.language].share_facebook }}".replace("%slogan%", generatedSlogan),
            href: uri,
        }, function (response) {
        });
    }

    sprites.onload = function () {
        flag = document.getElementById("generatedFlag");
        if (flag) {
            var ctx = flag.getContext("2d");

            var spriteX = 256;
            var spriteY = 128;
            var spriteS = 1.0;

            var symbolId = findFlagSymbol();
            var colors = findFlagColors();

            if (colors.length <= 0)
                colors.push({bgColor: "#ffffff", fgColor: "#000000"});

            var flagId = findFlagShape(colors.length);

            if (flagId < 0) {
                ctx.beginPath();
                ctx.rect(0, 0, 512, 256);
                ctx.fillStyle = "#ffffff";
                ctx.fill();
            }
            else {
                for (var i = 0; i < flagShapes[flagId].shapes.length; i++) {
                    var path = flagShapes[flagId].shapes[i];
                    var numPoints = path.length / 2;

                    ctx.beginPath();
                    ctx.moveTo(path[1] * 512, path[2] * 256);

                    for (var j = 1; j < numPoints; j++) {
                        ctx.lineTo(path[1 + j * 2 + 0] * 512, path[1 + j * 2 + 1] * 256);
                    }
                    ctx.fillStyle = colors[path[0]].bgColor;
                    ctx.fill();
                }

                spriteX = flagShapes[flagId].symbol[0] * 512;
                spriteY = flagShapes[flagId].symbol[1] * 256;
                spriteS = flagShapes[flagId].symbol[2];
            }

            if (symbolId >= 0) {
                var tmpC = document.createElement('canvas');
                tmpC.width = sprites.width;
                tmpC.height = sprites.height;
                var tmpCtx = tmpC.getContext('2d');
                var coloredSprites = tmpCtx.getImageData(0, 0, tmpC.width, tmpC.height);

                tmpCtx.beginPath();
                tmpCtx.rect(0, 0, tmpC.width, tmpC.height);
                tmpCtx.fillStyle = colors[0].fgColor;
                tmpCtx.fill();

                tmpCtx.globalCompositeOperation = "destination-in";
                tmpCtx.drawImage(sprites, 0, 0);

                ctx.drawImage(tmpC, symbolId * 128, 0, 128, 128, spriteX - 64 * spriteS, spriteY - 64 * spriteS, 128 * spriteS, 128 * spriteS);
            }
        }
    }

</script>
