---
layout: results
language: sl_SI
---

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-4">
            {% include sidebar.html %}
        </div>

        <div class="col-12 col-lg-8">
            <div class="card card-results w-100">
                <div class="card-body text-center p-5">
                    <h2>Rezultati</h2>

                    <p class="my-4">
                        Rezultati tvojega [slovenskoime] testa so razdeljeni na 8 osi. Vsaka os kaže tvojo pozicijo med dvema nasprotujočima si ideologijama. Nekatere specifične lastnosti, ki jih prikazujemo na dnu te strani, dopolnjujejo tvoj rezultat. Za natančnejšo razlago različnih osi si oglej stran z razlagami.
                    </p>

                    <hr>

                    <div class="my-4">
                    {% include results-single.html %}
                    </div>

                    <div class="text-center mb-4">
                        <button class="btn btn-primary" onclick="show_compare()">
                            Primerjaj se s strankami
                        </button>
                    </div>

                    <hr>

                    {% include share.html %}

                </div>
            </div>
        </div>
    </div>
</div>

{% include js-party-results.html %}
{% include js-axes.html %}
{% include js-single-results.html %}

<script>

    function show_compare() {
        window.location.href = window.location.href.replace('rezultati', 'primerjava');
    }

</script>
