---
layout: results-party
title: Rezultati strank
language: sl_SI
---

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-4">
            {% include sidebar.html %}
        </div>

        <div class="col-12 col-lg-8">
            <div class="card card-results w-100">
                <div class="card-body text-center p-5">
                    {% include parties.html %}

                    <div class="mt-5">

                        <hr>
                        <div class="my-4">
                            {% include results-single.html %}
                        </div>
                        <hr>
                    </div>

                    <div class="mb-5">
                        <a href="{{ site.basepath }}/" class="btn btn-link">Reši test in se primerjaj s strankami</a>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include js-party-results.html %}
{% include js-axes.html %}
{% include js-single-results.html %}

<script>
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    csv = getParameterByName('csv');

    if (csv) {
        var option;
        $('select option').filter(function () {
            if ($(this).val().indexOf('csv=' + csv) !== -1) {
                option = ($(this));
                return true;
            }

            return false;
        }).prop('selected', true);


        $('#dropdownMenuButton').text(option.text());
    } else {
        $('#dropdownMenuButton').text('VSE STRANKE');
    }

</script>