<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	{% if page.layout == "default" %}
	<title>{{ site.name }}</title>
	{% endif %}
	{% if page.layout == "index" %}
	<title>{{ site.name }} - {{ site.t[page.language].index_title }}</title>
	{% endif %}
	{% if page.layout == "quiz" %}
	<title>{{ site.name }} - {{ site.t[page.language].quiz_title }}</title>
	{% endif %}
	{% if page.layout == "results" %}
	<title>{{ site.name }} - {{ site.t[page.language].result_title }}</title>
	{% endif %}
	{% if page.layout == "help" %}
	<title>{{ site.name }} - {{ site.t[page.language].help_title }}</title>
	{% endif %}
	<meta name="description" content="{{ site.t[page.language].index_welcome }}" />
	<!--  <link rel="stylesheet" href="{{ site.basepath }}/style.css" type="text/css" media="screen" /> -->
	<link rel="stylesheet" href="{{ site.basepath }}/css/main.css" type="text/css" media="screen" />
	<link href="https://fonts.googleapis.com/css?family=Barlow:400,700&amp;subset=latin-ext" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta property="og:url" content="http://politiscales.la-commune.net/{{ page.language }}/" />
	<meta property="og:title" content="{{ site.name }}" />
	<meta property="og:locale" content="{{ page.language }}" />
	<meta property="og:description" content="{{ site.t[page.language].index_welcome }}" />
	<meta property="og:image" content="http://politiscales.la-commune.net/images/facebook-preview.png" />
</head>

