<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="stylesheet" href="css/main.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Barlow:400,500,700,900&amp;subset=latin-ext" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<title>Politični portret: izmeri podobnost svojih stališč z vrednotami političnih strank</title>

<meta name="description" content="Politični portret je ideološki test, ki te z uporabo 8 vrednotnih osi približno umesti v politično polje, in svoj rezultat primerjaj s stališči političnih strank, ki kandidirajo na prihajajočih parlamentarnih volitvah. Reši ga tudi ti!">
<meta property="og:description" content="Politični portret je ideološki test, ki te z uporabo 8 vrednotnih osi približno umesti v politično polje, in svoj rezultat primerjaj s stališči političnih strank, ki kandidirajo na prihajajočih parlamentarnih volitvah. Reši ga tudi ti!"/>


<!-- <meta property="og:url" content="http://politiscales.la-commune.net/{{ page.language }}/"/>  -->
<!--  <meta property="og:title" content="{{ site.name }}"/>
<meta property="og:locale" content="{{ page.language }}"/>-->
<!--  <meta property="og:image" content="http://politiscales.la-commune.net/images/facebook-preview.png"/> -->

