<div class="help">
    <div class="float-left" data-toggle="tooltip" data-html="true"
         title="Konstruktivisti menijo, da so ljudje produkt svojega (predvsem družbenega) okolja in da so lastnosti, ki jih definirajo, pridobljene.">
        <img width="20" class="ml-2" src="{{ site.basepath }}/ikone/noun_1009845_ffffff.svg" alt="Vprašaj">
    </div>
    <div class="float-right" data-toggle="tooltip" data-html="true"
         title="Esencialisti menijo, da je posameznik/-ca takšen/-na, kot je, po naravi in da so lastnosti, ki ga/jo definirajo, prirojene.">
        <img width="20" class="ml-2" src="{{ site.basepath }}/ikone/noun_1009845_ffffff.svg" alt="Vprašaj">
    </div>
</div>
