<div class="help">
    <div class="float-left" data-toggle="tooltip" data-html="true"
         title="Regulacionizem ali intervecionizem je zamisel, da bi morale biti gospodarske dejavnosti regulirane v smeri skupnega interesa. Regulacija se lahko dogaja skozi zakonodajo, načrtovanje, subvencije, variabilno obdavčenje ...">
        <img width="20" class="ml-2" src="{{ site.basepath }}/ikone/noun_1009845_ffffff.svg" alt="Vprašaj">
    </div>
    <div class="float-right" data-toggle="tooltip" data-html="true"
         title="Laissez-faire zamisel, da gospodarske aktivnosti ne bi smele biti regulirane, saj same po sebi ustrezajo skupnemu interesu. Laissez-faire se lahko uveljavlja skozi šibko zakonodajo, z malo ali brez subvencij, s fiksnim obdavčevanjem in šibko vlogo države v gospodarstvu ali celo njenim popolnim umikom.">
        <img width="20" class="ml-2" src="{{ site.basepath }}/ikone/noun_1009845_ffffff.svg" alt="Vprašaj">
    </div>
</div>
