<div class="help">
    <div class="float-left" data-toggle="tooltip" data-html="true"
         title="Ekološke politike privilegirajo zaščito okolja z omejevanjem človeških aktivnosti in vplivov na biodiverziteto, četudi to implicira bolj ali manj radikalno spreminjanje obstoječega načina življenja.">
        <img width="20" class="ml-2" src="{{ site.basepath }}/ikone/noun_1009845_ffffff.svg" alt="Vprašaj">
    </div>
    <div class="float-right" data-toggle="tooltip" data-html="true"
         title="Produktivnost privilegira človeške potrebe in podpira povečanje produkcije ali uporabo metod, ki imajo negotov vpliv na okolje.">
        <img width="20" class="ml-2" src="{{ site.basepath }}/ikone/noun_1009845_ffffff.svg" alt="Vprašaj">
    </div>
</div>
