<div class="col-12 mt-2">
    <div id="collapseFive" class="collapse" aria-labelledby="headingOne">
        <div class="mb-3">
            <p>Komunizem je obsežna politična doktrina; v tem testu pa označuje idejo, da bi morala biti produkcijska sredstva v javni lasti.</p>

            <p>Kapitalizem, prav tako ambivalenten koncept, v tem testu označuje idejo, da bi morala biti produkcijska sredstva v zasebni lasti.</p>

        </div>
    </div>

    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true">
        Pokaži razlago
    </button>

</div>