<div class="col-12 mt-2">
    <div id="collapseThree" class="collapse" aria-labelledby="headingOne">
        <div class="mb-3">
            <p>Progresivci poskušajo graditi družbeni napredek in izboljšati družbo neoziraje se na
                tradicije. Pogosto sedanjost vidijo kot boljšo od preteklosti, zato menijo, da je
                treba vztrajati na tej poti.</p>

            <p>Po drugi strani konzervativci želijo obdržati status quo in celo povrniti nekatere
                vrednote, ki so že izginile ali izginjajo. Tradicije, kot je npr. religiozna
                dediščina, predstavljajo kot vir modrosti.</p>
        </div>
    </div>

    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true">
        Pokaži razlago
    </button>

</div>