<div class="col-12 mt-2">
    <div id="collapseSeven" class="collapse" aria-labelledby="headingOne">
        <div class="mb-3">
            <p>Ekološke politike privilegirajo zaščito okolja z omejevanjem človeških aktivnosti in
                vplivov na biodiverziteto, četudi to implicira bolj ali manj radikalno spreminjanje
                obstoječega načina življenja.</p>
            <p>Produktivnost privilegira človeške potrebe in podpira povečanje produkcije ali
                uporabo metod, ki imajo negotov vpliv na okolje.</p>
        </div>
    </div>

    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true">
        Pokaži razlago
    </button>

</div>