<div class="col-12 mt-2">
    <div id="collapseFour" class="collapse" aria-labelledby="headingOne">
        <div class="mb-3">
            <p>Internacionalizem je zbir raznolikih idej, ki jim je skupno to, da želijo ukiniti
                hierarhije med državami in njihovimi prebivalci in kar najbolj promovirati
                sodelovanje. Internacionalizem v svoji najbolj radikalni obliki kot ultimativni cilj
                postavlja ukinitev državnih mej.</p>

            <p>Po drugi strani je nacionalizem zbir raznolikih idej, ki favorizirajo državo in njene
                prebivalce napram tujcem. Nacionalizem upravičuje idejo, da narodu pripada tudi
                država.</p>
        </div>
    </div>

    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true">
        Pokaži razlago
    </button>

</div>