<div class="col-12 mt-2">
    <div id="collapseTwo" class="collapse" aria-labelledby="headingOne">
        <div class="mb-3">
            <p>Tisti, ki verjamejo v rehabilitacijsko politiko, verjamejo, da je vloga kazenskega
                prava usmerjanje obsojenih nazaj na “pravo pot”. Pri tem jim poskušajo pomagati in
                stati ob strani na poti razumevanja, zakaj ne bi smeli storiti, kar so storili, ter
                zakaj so bili obsojeni.</p>

            <p>Po drugi strani tisti, ki verjamejo v kaznovalno politiko, verjamejo, da je vloga
                kazenskega prava odvračanje, tako obsojencev (skozi izogibanje recidivizmu oz.
                “povratništvu”) kot tudi za večinsko družbo (skozi postavljanje “negativnega
                zgleda”, ki se mu ne splača slediti).</p>
        </div>
    </div>

    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true">
        Pokaži razlago
    </button>

</div>