<div class="col-12 mt-2">
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
        <div class="mb-3">
            <p>Zakaj so ljudje takšni, kot so? Ta os ti omogoča umestitev med dva nasprotujoča si
                pola, ki odgovarjata na to vprašanje.</p>

            <p>Konstruktivisti menijo, da so ljudje produkt svojega (predvsem družbenega) okolja in
                da so lastnosti, ki jih definirajo, pridobljene.</p>

            <p>Po drugi strani pa esencialisti menijo, da je posameznik/-ca takšen/-na, kot je, po
                naravi in da so lastnosti, ki ga/jo definirajo, prirojene.</p>        </div>
    </div>

    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">
        Pokaži razlago
    </button>

</div>