<div class="col-12 mt-2">
    <div id="collapseEight" class="collapse" aria-labelledby="headingOne">
        <div class="mb-3">
            <p>Revolucionarji imajo tendenco, da za doseganje svojih ciljev preferirajo direktno
                akcijo, ki je pogosto na robu legalnosti. Njihov glavni cilj pa je zamenjati
                trenutno politično organizacijo oz. sistem za nekaj popolnoma drugega.</p>

            <p>Reformisti imajo tendenco, da za doseganje svojih ciljev privilegirajo pravno
                delovanje in želijo politično organizacijo oz. sistem definirati korak po koraku. To
                lahko počnejo skozi institucije, s pomočjo volitev, prijavljenih demonstracij,
                peticij …</p>
        </div>
    </div>

    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true">
        Pokaži razlago
    </button>

</div>