<div class="help">
    <div class="float-left" data-toggle="tooltip" data-html="true"
         title="Komunizem je obsežna politična doktrina; v tem testu pa označuje idejo, da bi morala biti produkcijska sredstva v javni lasti.">
        <img width="20" class="ml-2" src="{{ site.basepath }}/ikone/noun_1009845_ffffff.svg" alt="Vprašaj">
    </div>
    <div class="float-right" data-toggle="tooltip" data-html="true"
         title="Kapitalizem je sicer ambivalenten koncept, v tem testu pa označuje idejo, da bi morala biti produkcijska sredstva v zasebni lasti.">
        <img width="20" class="ml-2" src="{{ site.basepath }}/ikone/noun_1009845_ffffff.svg" alt="Vprašaj">
    </div>
</div>
