<div class="help">
    <div class="float-left" data-toggle="tooltip" data-html="true"
         title="Revolucionarji imajo tendenco, da za doseganje svojih ciljev preferirajo direktno akcijo, ki je pogosto na robu legalnosti. Njihov glavni cilj pa je zamenjati trenutno politično organizacijo oz. sistem za nekaj popolnoma drugega.">
        <img width="20" class="ml-2" src="{{ site.basepath }}/ikone/noun_1009845_ffffff.svg" alt="Vprašaj">
    </div>
    <div class="float-right" data-toggle="tooltip" data-html="true"
         title="Reformisti imajo tendenco, da za doseganje svojih ciljev privilegirajo pravno delovanje in želijo politično organizacijo oz. sistem definirati korak po koraku. To lahko počnejo skozi institucije, s pomočjo volitev, prijavljenih demonstracij, peticij …">
        <img width="20" class="ml-2" src="{{ site.basepath }}/ikone/noun_1009845_ffffff.svg" alt="Vprašaj">
    </div>
</div>
