<div class="help">
    <div class="float-left" data-toggle="tooltip" data-html="true"
         title="Internacionalizem je zbir raznolikih idej, ki jim je skupno to, da želijo ukiniti hierarhije med državami in njihovimi prebivalci in kar najbolj promovirati sodelovanje. Internacionalizem v svoji najbolj radikalni obliki kot ultimativni cilj postavlja ukinitev državnih mej.">
        <img width="20" class="ml-2" src="{{ site.basepath }}/ikone/noun_1009845_ffffff.svg" alt="Vprašaj">
    </div>
    <div class="float-right" data-toggle="tooltip" data-html="true"
         title="Nacionalizem je zbir raznolikih idej, ki favorizirajo državo in njene prebivalce napram tujcem. Nacionalizem upravičuje idejo, da narodu pripada tudi država.">
        <img width="20" class="ml-2" src="{{ site.basepath }}/ikone/noun_1009845_ffffff.svg" alt="Vprašaj">
    </div>
</div>
