<div class="col-12 mt-2">
    <div id="collapseSix" class="collapse" aria-labelledby="headingOne">
        <div class="mb-3">
            <p>Na tej osi se opredeliš do tega, kakšen odnos naj bi imela vlada do tržne ekonomije,
                v kateri je pomemben del produkcijskih sredstev zaseben.</p>

            <p>Liberalci in keynesianci se ne strinjajo glede najpomembnejših metod, ki bi se jih morali poslužiti, vendar ne preizprašujejo samega kapitalističnega sistema proizvodnje dobrin (reči).
                Če se na prejšnji osi pozicioniraš bolj kot podpornik/-ca kapitalizma, ta os zate predstavlja tvoj cilj v kontekstu gospodarstva. Če se na prejšnji osi pozicioniraš bolj kot podpornik/-ca komunizma, pa ta os zate predstavlja najbolje, kar lahko pričakuješ od (sicer morda zate slabega) kapitalizma.</p>


            <p>Regulacionizem ali intervecionizem je zamisel, da bi morale biti gospodarske
                dejavnosti regulirane v smeri skupnega interesa. Regulacija se lahko dogaja skozi
                zakonodajo, načrtovanje, subvencije, variabilno obdavčenje ...</p>


            <p>Po drugi strani je laissez-faire zamisel, da gospodarske aktivnosti ne bi smele biti
                regulirane, saj same po sebi ustrezajo skupnemu interesu. Laissez-faire se lahko
                uveljavlja skozi šibko zakonodajo, z malo ali brez subvencij, s fiksnim
                obdavčevanjem in šibko vlogo države v gospodarstvu ali celo njenim popolnim
                umikom.</p>
        </div>
    </div>

    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true">
        Pokaži razlago
    </button>

</div>