<script>
    var qn = 0; // Question number
    var prev_answer = null;


    function show_question() {
        document.getElementById("question-text").innerHTML = questions[qn].question_slo;
        document.getElementById("quiz-progress").innerHTML = "" + (qn + 1) + "/" + questions.length;
        document.getElementById("bar").style.width = (((qn + 1) / questions.length) * 100).toFixed(0) + "%";

        if (qn == 0) {
            document.getElementById("back_button").style.visibility = 'hidden';
        }
        else {
            document.getElementById("back_button").style.visibility = 'visible';
        }
    }

    function next_question(answer) {
        questions[qn].answer = answer
        qn++;

        if (qn < questions.length) {
            show_question();
        }
        else {
            show_results();
        }
    }

    function prev_question() {
        if (qn == 0) {
            return;
        }
        qn--;
        show_question();
    }

    function calculate_score(score, max_value) {
        return (100 * (score) / (max_value)).toFixed(0);
    }

    function show_results() {
        var axes = {};

        for (var i = 0; i < questions.length; i++) {
            q = questions[i];

            for (var j = 0; j < q.valuesYes.length; j++) {
                a = q.valuesYes[j];
                if (!(a.axis in axes)) {
                    axes[a.axis] = {
                        val: 0,
                        sum: 0
                    }
                }

                if (q.answer > 0) {
                    axes[a.axis].val += q.answer * a.value;
                }
                axes[a.axis].sum += Math.max(a.value, 0);
            }

            for (var j = 0; j < q.valuesNo.length; j++) {
                a = q.valuesNo[j];
                if (!(a.axis in axes)) {
                    axes[a.axis] = {
                        val: 0,
                        sum: 0
                    }
                }

                if (q.answer < 0) {
                    axes[a.axis].val -= q.answer * a.value;
                }
                axes[a.axis].sum += Math.max(a.value, 0);
            }
        }

        url = ""
        for (var aK in axes) {
            if (axes[aK].val > 0) {
                if (url != "")
                    url += "&"
                url += aK + "=" + calculate_score(axes[aK].val, axes[aK].sum)
            }
        }

        url = "{{site.basepath}}/rezultati?" + url
        location.href = url;
    }


    function simulate() {
        rand_c = Math.random();
        rand_b = Math.random();
        rand_s = Math.random();
        rand_j = Math.random();
        rand_p = Math.random();
        rand_m = Math.random();
        rand_e = Math.random();
        rand_t = Math.random();

        rand_per_axis = {
            c0: rand_c,
            c1: 1 - rand_c,
            b0: rand_b,
            b1: 1 - rand_b,
            s0: rand_s,
            s1: 1 - rand_s,
            j0: rand_j,
            j1: 1 - rand_j,
            p0: rand_p,
            p1: 1 - rand_p,
            m0: rand_m,
            m1: 1 - rand_m,
            e0: rand_e,
            e1: 1 - rand_e,
            t0: rand_t,
            t1: 1 - rand_t,
        };

        while (qn < questions.length) {
            prop = 0.0;
            propCounter = 0;
            for (var j = 0; j < questions[qn].valuesYes.length; j++) {
                a = questions[qn].valuesYes[j];
                if (a.axis in rand_per_axis) {
                    prop += rand_per_axis[a.axis];
                    propCounter++;
                }
            }
            for (var j = 0; j < questions[qn].valuesNo.length; j++) {
                a = questions[qn].valuesNo[j];
                if (a.axis in rand_per_axis) {
                    prop += 1.0 - rand_per_axis[a.axis];
                    propCounter++;
                }
            }

            if (propCounter > 0)
                prop /= propCounter;
            else
                prop = 0.2;

            if (Math.random() < 0.1)
                next_question(0);
            else if (Math.random() < prop)
                next_question(1);
            else
                next_question(-1);
        }
    }
</script>