<h2>Kako se na vsebinske osi umeščajo politične stranke?</h2>

<p class="my-4">Vprašalnik smo poslali vsem političnim strankam, ki kandidirajo na volitvah v Državni zbor 2018.
    Prosili smo jih, da se do stališč opredelijo kolektivno.</p>

<select class="form-control" onchange="location = this.value;">
    <option value="" selected></option>
    <option value="{{ site.basepath }}/rezultati-strank?csv=1.csv">ANDREJ ČUŠ IN ZELENI SLOVENIJE</option>
    <option value="{{ site.basepath }}/rezultati-strank?csv=2.csv">DEMOKRATIČNA STRANKA UPOKOJENCEV</option>
    <option value="{{ site.basepath }}/rezultati-strank?csv=3.csv">KANGLER & PRIMC ZDRUŽENA DESNICA - GLAS ZA OTROKE IN DRUŽINE, NOVA
        LJUDSKA STRANKA SLOVENIJE
    </option>
    <option value="{{ site.basepath }}/rezultati-strank?csv=4.csv">LEVICA</option>
    <option value="{{ site.basepath }}/rezultati-strank?csv=5.csv">NAPREJ SLOVENIJA</option>
    <option value="{{ site.basepath }}/rezultati-strank?csv=6.csv">NOVA SLOVENIJA KRŠČANSKI DEMOKRATI</option>
    <option value="{{ site.basepath }}/rezultati-strank?csv=7.csv">PIRATSKA STRANKA SLOVENIJE</option>
    <option value="{{ site.basepath }}/rezultati-strank?csv=8.csv">SOLIDARNOST, ZA PRAVIČNO DRUŽBO</option>
    <option value="{{ site.basepath }}/rezultati-strank?csv=9.csv">ZEDINJENA SLOVENIJA</option>
    <option value="{{ site.basepath }}/rezultati-strank?csv=10.csv">STRANKA MODERNEGA CENTRA</option>
    <option value="{{ site.basepath }}/rezultati-strank?csv=11.csv">STRANKA SLOVENSKEGA NARODA</option>
    <option value="{{ site.basepath }}/rezultati-strank?csv=12.csv">ZA ZDRAVO DRUŽBO</option>
    <option value="{{ site.basepath }}/rezultati-strank?csv=13.csv">SLOVENSKA NACIONALNA STRANKA</option>
    <option value="{{ site.basepath }}/rezultati-strank?csv=14.csv">SOCIALNI DEMOKRATI</option>
</select>