<div class="py-5">
    <h1 class="mb-4">Politiscales</h1>

    <a href="{{ site.basepath }}/kviz">
        <button class="btn btn-primary mb-3 w-100">Reši test</button>
    </a>

    <a href="{{ site.basepath }}/rezultati-strank">
        <button class="btn btn-secondary mb-3 w-100">Preveri rezultate strank</button>
    </a>

    <a href="{{ site.basepath }}/pomoc">
        <button class="btn btn-outline-primary mb-3 w-100">Kaj pomenijo rezultati?</button>
    </a>

    <p class="mt-4">PolitiScale oz. [slovensko ime] je politični test, ki te z uporabo 8 vrednotnih osi
        približno umesti v politično polje ali ti omogoči preprosto primerjavo s prijatelji. Ta spletna
        stran je naša nadgradnja osnovne ideje in realizacije projekta Radicalisé·e·s sur Internet, slednji
        pa se navdihuje pri 8values. Pri Danes je nov dan smo prevedli in nadgradili spletno stran
        http://www.politiscales.net/ iz angleščine. Poleg osnovnih funkcionalnosti pa smo vzpostavili še
        primerjavo s političnimi strankami, ki kandidirajo na parlamentarnih volitvah 2018.</p>
</div>