<div class="pb-5 sidebar">
    <div class="float-right d-lg-none">
        <button class="btn-outline-primary btn btn-lg" data-toggle="collapse" data-target="#sidebar-links" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
    </div>

    <a href="{{ site.basepath }}/" class="no-link"><h1 class="mb-4">Politični <br>portret</h1></a>

    <div class="collapse" id="sidebar-links">
        <a href="{{ site.basepath }}/">
            <button class="btn btn-primary mb-3 w-100">Reši test</button>
        </a>

        <a href="{{ site.basepath }}/rezultati-strank">
            <button class="btn btn-secondary mb-3 w-100">Preveri rezultate strank</button>
        </a>

        <a href="{{ site.basepath }}/pomoc">
            <button class="btn btn-outline-primary mb-3 w-100">Kaj pomenijo rezultati?</button>
        </a>

        <a href="{{ site.basepath }}/o-politicnem-portretu">
            <button class="btn btn-outline-primary mb-3 w-100">O političnem portretu</button>
        </a>

        <div class="mt-3 pt-3">

            <a href="https://danesjenovdan.si/" class="author-link">Danes je nov dan</a>

            <div class="social d-inline">
                <a href="https://www.facebook.com/danesjenovdan/" class="ml-3"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/danesjenovdan" class="ml-3"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>

</div>