<html lang="sl_SI">
<head>
	{% include head.html %}

	<!--  <meta name="description" content="">
    <meta name="description" content="{{ site.t[page.language].index_welcome }}" />

    <meta property="og:url" content="http://politiscales.la-commune.net/{{ page.language }}/" />
    <meta property="og:title" content="{{ site.name }}" />
    <meta property="og:locale" content="{{ page.language }}" />
    <meta property="og:description" content="{{ site.t[page.language].index_welcome }}" />
    <meta property="og:image" content="http://politiscales.la-commune.net/images/facebook-preview.png" /> -->
</head>

<body>
{{ content }}
</body>
</html>
